<!DOCTYPE html>
<html class="default history no-touchevents" lang="ch">
<head>
<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="stylesheet" href="/assets/vendor/pace/themes/blue/pace-theme-loading-bar.css" />
<script src="/assets/vendor/pace/pace.min.js"></script>
<script src="/assets/vendor/jquery/jquery-2.2.4.min.js"></script>
<script src="/assets/common/js/util.js"></script>
<title>WeLabX</title>
</head>
	<body>
	<script type="text/javascript">
		const fullHost = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
		const context = 'web';
		var G = G || {
			baseHost: '<%= htmlWebpackPlugin.options.baseHost%>',
			realHost: fullHost,
			serverHost: fullHost+'/'+context
		};
		G.id = function(id) {
			return document.getElementById(id);
		};
		var url_obj = parser(window.location.href);
		var code = url_obj.search.code;
		if (code === null || code === undefined) {
			window.location.href = 'redirecthome.html';
		} else {
			G.code = code;
		}
	</script>
		<div id="root">
		</div>
	</body>
</html>
