.loading-content {
  display: none;
}
.root-container {
  height: 100%;
  width: 100%;
}
.main-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
.home-loading-bg {
  background-color: #3070d4;
  height: 100%;
  width: 100%;
}
.map-loading-bg {
  background-color: #d0a34a;
  height: 100%;
  width: 100%;
}
.home {
	background-image: url(/assets/iceworld/img/home.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;

	.btn-go {
		width: 46%;
		height: auto;
		left: 27%;
		top: 54%;
		position: absolute;
	}
}

	.img-row {
		left: 0;
		top: 87%;
		position: absolute;
		margin-left: 7%;
    margin-right: 7%;
	}

	.img-col{
		padding: 0;
	}

	.img-wrapper{
		width: 100%;
		height: auto;
	}

	.img-wrapper-middle {
		width: 100%;
		height: auto;
		padding-left: 1%;
		padding-right: 1%
	}
	.img-wrapper-left {
		width: 100%;
		height: auto;
		float: right;
	}
	.img-wrapper-right {
		width: 100%;
		height: auto;
		float: left;

	}

.mappage-container {
	background-image: url(/assets/iceworld/img/map.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.treasure-container0 {
	background-image: url(/assets/iceworld/img/my_treasure.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.treasure-container1 {
  background-image: url(/assets/iceworld/img/treasure_1.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.treasure-container2 {
  background-image: url(/assets/iceworld/img/treasure_2.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.treasure-container3 {
  background-image: url(/assets/iceworld/img/treasure_3.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.treasure-container4 {
  background-image: url(/assets/iceworld/img/treasure_4.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.treasure-container5 {
  background-image: url(/assets/iceworld/img/treasure_5.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.rule-container {
	background-color: transparent;
	border: none;
	box-shadow: none;
  -webkit-box-shadow: none;
}

.modal-dialog  {
	margin-top: 60%;
}

.close {
  position: absolute;
  top: 8%;
  left: 85%;
  z-index: 2;
  opacity: 1;
  width: 10%;
}

.prize-close {
  position: absolute;
  top: 29%;
  right: 5%;
  z-index: 2;
  opacity: 1;
  width: 8%;
}

.prize-confirm {
  position: absolute;
  top: 77%;
  right: 37%;
  z-index: 2;
  opacity: 1;
  width: 30%;
}


.pulse {
	background: #b50e0e;
  border-radius: 4px/2px;
  -webkit-border-radius: 4px/2px;
  height: 4px;
  width: 8px;
  margin: 18px 0px 0px -12px;
  /*transform: rotateX(55deg);*/


}

.pulse::after{
	content: "";
  border-radius: 20px/10px;
  -webkit-border-radius: 20px/10px;
  height: 20px;
  width: 40px;
  position: absolute;
  margin: -8px 0 0 -15px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
  box-shadow: 0 0 1px 3px #b50e0e;

}

.pulse2{
  background: #b50e0e;
  border-radius: 4px/2px;
  -webkit-border-radius: 4px/2px;
  height: 4px;
  width: 8px;
  margin: 18px 0px 0px -12px;
}

.pulse2::after{
  content: "";
  border-radius: 20px/10px;
  -webkit-border-radius: 20px/10px;
  height: 20px;
  width: 40px;
  position: absolute;
  margin: -8px 0 0 -15px;
  animation: pulsate2 1s ease-out;
  animation-iteration-count: infinite;
  -webkit-animation: pulsate2 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
  box-shadow: 0 0 1px 5px #b50e0e;

}

@-webkit-keyframes pulsate2{
  0%{
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50%{
    opacity: 1.0;
  }

  100%{
    -webkit-transform: scale(0.6, 0.6);
    opacity: 0;
  }

}

@keyframes pulsate2{
  0%{
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50%{
    opacity: 1.0;
  }

  100%{
    transform: scale(0.6, 0.6);
    opacity: 0;
  }

}

.loc1{
  position: absolute;
  left: 36%;
  top: 45%;
}

.loc2{
  position: absolute;
  left: 58%;
  top: 25%;
}

.loc3{
  position: absolute;
  left: 51%;
  top: 50%;
}

.loc4{
  position: absolute;
  left: 55%;
  top: 33%;
}

.loc5{
  position: absolute;
  left: 40%;
  top: 71%;
}

.loc6{
  position: absolute;
  left: 20%;
  top: 81%;
}

@-webkit-keyframes pulsate{
	0%{
		-webkit-transform: scale(0.5, 0.5);
    opacity: 0.0;
	}

  50%{
    opacity: 1.0;
  }

  100%{
  	-webkit-transform: scale(1.0, 1.0);
    opacity: 0;
  }

}

@keyframes pulsate{
	0%{
		transform: scale(0.5, 0.5);
    opacity: 0.0;
	}

  50%{
    opacity: 1.0;
  }

  100%{
  	transform: scale(1.0, 1.0);
    opacity: 0;
  }

}

.boxstyle{
	width: 80%;
	z-index: 10;
}

.static-boxstyle{
  width: 67%;
  z-index: 10;
}

.static-box1 {
  position: absolute;
  left: 30%;
  top: 44%;
  content: "";
  display: block;
  z-index: 10;
}

.box-indicator1 {
	position: absolute;
	left: 30%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping1 linear 1s infinite;
	-webkit-animation: mapping1 linear 1s infinite;
}

@-webkit-keyframes mapping1{
	0% {
		position: absolute;
	  top: 45%;
	  z-index: 10;
	}

	50% {
		position: absolute;
	  top: 43%;
	  z-index: 10;
	}

	100% {
		position: absolute;
	  top: 45%;
	  z-index: 10;
		}
}

@keyframes mapping1 {
	0% {
		position: absolute;
	  top: 45%;
	  z-index: 10;
	}

	50% {
		position: absolute;
	  top: 43%;
	  z-index: 10;
	}

	100% {
		position: absolute;
	  top: 45%;
	  z-index: 10;
		}
}

.static-box2 {
  position: absolute;
  left: 52%;
  top: 24%;
  content: "";
  display: block;
  z-index: 10;
}

.box-indicator2 {
	position: absolute;
	left: 52%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping2 linear 1s infinite;
	-webkit-animation: mapping2 linear 1s infinite;
}

@-webkit-keyframes mapping2 {
	0% {
		position: absolute;
	  top: 25%;
	}

	50% {
		position: absolute;
	  top: 23%;
	}

	100% {
		position: absolute;
	  top: 25%;
		}
}

@keyframes mapping2 {
	0% {
		position: absolute;
	  top: 25%;
	}

	50% {
		position: absolute;
	  top: 23%;
	}

	100% {
		position: absolute;
	  top: 25%;
		}
}

.static-box3 {
  position: absolute;
  left: 45%;
  top: 49%;
  content: "";
  display: block;
  z-index: 10;
}

.box-indicator3 {
	position: absolute;
	left: 45%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping3 linear 1s infinite;
	-webkit-animation: mapping3 linear 1s infinite;
}

@-webkit-keyframes mapping3 {
	0% {
		position: absolute;
	  top: 50%;
	}

	50% {
		position: absolute;
	  top: 48%;
	}

	100% {
		position: absolute;
	  top: 50%;
		}
}

@keyframes mapping3 {
	0% {
		position: absolute;
	  top: 50%;
	}

	50% {
		position: absolute;
	  top: 48%;
	}

	100% {
		position: absolute;
	  top: 50%;
		}
}

.static-box4 {
  position: absolute;
  left: 49%;
  top: 32%;
  content: "";
  display: block;
  z-index: 10;
}

.box-indicator4 {
	position: absolute;
	left: 49%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping4 linear 1s infinite;
	-webkit-animation: mapping4 linear 1s infinite;
}

@-webkit-keyframes mapping4 {
	0% {
		position: absolute;
	  top: 33%;
	}

	50% {
		position: absolute;
	  top: 31%;
	}

	100% {
		position: absolute;
	  top: 33%;
		}
}

@keyframes mapping4 {
	0% {
		position: absolute;
	  top: 33%;
	}

	50% {
		position: absolute;
	  top: 31%;
	}

	100% {
		position: absolute;
	  top: 33%;
		}
}

.static-box5 {
  position: absolute;
  left: 34%;
  top: 70%;
  content: "";
  display: block;
  z-index: 10;
}

.box-indicator5 {
	position: absolute;
	left: 34%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping5 linear 1s infinite;
	-webkit-animation: mapping5 linear 1s infinite;
}

@-webkit-keyframes mapping5 {
	0% {
		position: absolute;
	  top: 71%;
	}

	50% {
		position: absolute;
	  top: 69%;
	}

	100% {
		position: absolute;
	  top: 71%;
		}
}

@keyframes mapping5 {
	0% {
		position: absolute;
	  top: 71%;
	}

	50% {
		position: absolute;
	  top: 69%;
	}

	100% {
		position: absolute;
	  top: 71%;
		}
}

.box-indicator6 {
	position: absolute;
	left: 14%;
	content: "";
	display: block;
	z-index: 10;
	animation: mapping6 linear 1s infinite;
	-webkit-animation: mapping6 linear 1s infinite;
}

@-webkit-keyframes mapping6 {
	0% {
		position: absolute;
	  top: 81%;
	}

	50% {
		position: absolute;
	  top: 79%;
	}

	100% {
		position: absolute;
	  top: 81%;
		}
}

@keyframes mapping6 {
	0% {
		position: absolute;
	  top: 81%;
	}

	50% {
		position: absolute;
	  top: 79%;
	}

	100% {
		position: absolute;
	  top: 81%;
		}
}

/*location 1  css*/

.page1 {
	background-image: url(/assets/iceworld/img/location1.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page2 {
	background-image: url(/assets/iceworld/img/location2.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page3 {
	background-image: url(/assets/iceworld/img/location3.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page4 {
	background-image: url(/assets/iceworld/img/location4.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.page5 {
	background-image: url(/assets/iceworld/img/location5.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.up-btn{
	width: 34%;
  height: auto;
  left: 33%;
  top: 75%;
  position: absolute;
}

.down-btn{
  width: 34%;
  height: auto;
  left: 33%;
  top: 84%;
  position: absolute;
}


