.jumbotron-copywriter{
    height:100%;
    color: white;
  }

.row.cp-box, .row.cpInput-box{
  width:70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pb-container{
    padding-bottom: 100px;
}
.pb-container .pb-button {
    background: #738ffe;
    border: 1px solid currentColor;

}

.pb-container .pb-button span{
    font-size: 1.5em;
}

.footer{
  margin-top:30px;
  color:#999;
}

.row.foot-box{
  width:70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

}

.success-button {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #5df714;
}

@media only screen and (min-width: 1920px) {
.formbox{
  width: 25%;
  margin-left: 16.66666667%;
}


}

@media only screen and (max-width: 992px) {

.row.cp-box, .row.cpInput-box, .row.foot-box{
  width:80%;
}

}
@media only screen and (max-width: 768px) {

.row.cp-box{
  width:90%;
}
.row.cpInput-box, .row.foot-box{
  width: 80%
}

.textStyle{
  margin-bottom: 40px;
}
.formbox{
  width:90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

}

@media only screen and (width: 768px) {


.row.cp-box, .row.cpInput-, .row.foot-box{
  width:90%;
}

.radio-inline input[type=radio] {
    position: absolute;
    margin-left: -13px;
}
.formbox{
  width:50%;
}

}

@media only screen and (max-width: 435px) {



.row.cp-box, .row.cpInput-box{
  width:90%;
}

.row.foot-box{
  width:95%;
}

.radio-inline input[type=radio] {
   position: absolute;
   margin-left: -13px;
}

}
