.container-process{
		background-image: url('/assets/image/join_bg.jpg');
    height: auto;
}

.row.process-box{
  width:60%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 992px) {

.row.process-box{
  width:80%;
}

}
@media only screen and (max-width: 768px) {


.row.process-box{
  width:100%;
}

}
